<table class="table table-striped table-dark">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Player X</th>
    <th scope="col">Player O</th>
    <th scope="col">Player Who Won</th>
    <th scope="col">Time played</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of gameSessions;">
    <th scope="row">{{item.id}}</th>
    <td>{{item.playerX}}</td>
    <td>{{item.playerO}}</td>
    <td>{{item.playerWhoWon}}</td>
    <td>{{item.timePlayed}}</td>
  </tr>
  </tbody>
</table>
